@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: url(../../public/fonts/Montserrat-Light.ttf);
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url(../../public/fonts/Montserrat-Regular.ttf);
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url(../../public/fonts/Montserrat-Medium.ttf);
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: bold;
    font-style: normal;
    src: url(../../public/fonts/Montserrat-Bold.ttf);
  }
